$font-stack: Helvetica, sans-serif;
$primary-background-color: #fff;

.trades-table-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.table {
  background-color: $primary-background-color;
  padding: 30px;
  border-radius: 5px;
}

.table th {
  text-align: right;
}

.table td {
  text-align: right;
}

.trades-row-buy {
  color: green;
}

.trades-row-sell {
  color: red;
}

.table td.trade-type {
  text-align: center;
}
