.table-container {
  padding: 20px; }

.table {
  margin: 20px;
  background-color: #fff;
  padding: 30px;
  border-radius: 5px; }

.table th {
  text-align: right; }

.table td {
  text-align: right; }

.trades-row-buy {
  color: green; }

.trades-row-sell {
  color: red; }

.table td.trade-type {
  text-align: center; }
