.trades-table {
  margin: 20px;
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
}

.trades-table th {
  text-align: center;
}

.trades-table td {
  text-align: left;
}

.trades-row-buy {
  color: green;
}

.trades-row-sell {
  color: red;
}
