.trades-table-and-jumbotron-container {
  margin-bottom: 100px; }

.simulation-chart-container {
  background-color: #fff;
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 1px;
  padding-top: 45px;
  padding-bottom: 35px;
  height: 705px; }
  @media only screen and (min-width: 991px) {
    .simulation-chart-container {
      margin-left: -20px; } }
  @media only screen and (max-width: 990px) {
    .simulation-chart-container {
      margin-left: 20px; } }
