.simulation .simulation-chart-and-table-container {
  width: 82%;
  display: inline-block;
  margin-bottom: 50px; /*  reconsider using margin on strategy-form and simulation-chart-and-table-container instead */
}
