.strategy-form-container {
  display: inline-block;
  vertical-align: top;
  width: 18%;
}

.strategy-form {
  margin: 20px;
  padding: 30px;
  background-color: #fff;
}

.amount {
  margin-bottom: 15px;
}

.dropdown {
  width: 100%;
  margin-bottom: 7px;
}

.strategy-form .react-datepicker-wrapper {
  width: 100%;
  margin-bottom: 15px;
}

.strategy-form .react-datepicker-wrapper .react-datepicker__input-container {
  width: 100%;
}
