$primary-background-color: #fff;
$break-small: 320px;
$break-large: 1200px;

.strategy-form-container {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

.strategy-form {
  background-color: $primary-background-color;
  width: 100%;

  @media only screen and (min-width: $break-large+1) {
    padding: 30px;
  }

  @media only screen and (max-width: 1200px) {
    padding: 17px;
  }

  @media only screen and (min-width: 992px) {
    padding: 20px;
  }
}

.amount {
  margin-bottom: 15px;
}

.dropdown {
  width: 100%;
}

.control-label {
  margin-top: 10px;
}

.strategy-form {
  .react-datepicker-wrapper {
    width: 100%;
  }

  .react-datepicker__input-container {
    width: 100%;
  }
}

.react-datepicker__time-container {
  .react-datepicker-wrapper {
    width: 100%;
  }

  .react-datepicker__input-container {
    width: 100%;
  }
}

/* fix to make the input fields as wide as the form container */
.react-datepicker__input-container input {
  width: 100%;
  text-align: center;
}

/* fix for hour picker in datepicker that are displaced to the right*/
.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item {
  margin-left: -80px;
}

.btn {
  margin-top: 20px;
}
